@import url("../../variaveis.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'apple-system', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: white;
}

header{
    width: 100%;
    height: 70px;
    background-color: #fffafa;
    display:flex;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 0px 2px 0px #d0d7de;
    align-items: center;
    flex-wrap: wrap;
}

.menu{
    list-style: none;
    display: flex;
}

.menu li a{
    color:#020202;
    display: block;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-left: 10px;
}

.menu li a:hover{
    color:#fff;
    display: block;
    text-decoration: none;
    margin-left: 10px;
    background-color: #333;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #ccc;

}

.logo img{
    width: 50px;
    height: 40px;
}

.profile-picture{
    background-image: url(../imagens/perfil-40px.png);
    width: 40px;
    height: 40px;
    border-radius: 20px;
}


.dashboard{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    background-color: aqua;
    grid-template-areas:"leftmenu workarea" ;
    height: 100%;

}

.leftmenu{
    display: grid;
    background-color: black;
    width: 100%;
    height: 100%;
    grid-area: leftmenu;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
    "areanavbar"
    "areadispositivo"
    "areanome"
    "areastatus"
    "arealocal"
    "areadescricao";
    padding-top: 0;
    justify-content: center;
    
}

.areanavbar{
    background-color: purple;
    width: 100%;
    height: 50px;
    grid-area: areanavbar;
    
}

.areadispositivo{
    width: 100%;
    height: max-content;
    padding-top: 30px;
    place-content: center;
    grid-area: areadispositivo;
    place-content: center;
    display: grid;
}

.areanome{

}

.areastatus{

}

.arealocal{

}

.areadescricao{
    
}

.fotodispositivo{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: white;
}


.workarea{
    background-color: var(--fundo-principal);
    width:100%;
    height: 100%;
    grid-area: workarea;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dispositivo{
    background-color: var(--fundo-secundario);
    border-radius: 10px;
    height: 25vh;
    margin: 0 2rem;
    width: 18vw;
}

.dispositivo__titulo h3{
    color: var(--icones-principais);
    font-family: var(--fonte-principal);
}


.dispositivo__titulo{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    width: 100%;
}

.dispositivo__titulo i{
    color: var(--icones-principais);
    cursor: pointer;
    font-size: 1.3rem;
    transition-duration: .3s;
    transition-timing-function: linear;
    
}

.dispositivo__titulo i:hover{
    transform: translate(0, 0px);
}

.tooltip{
   align-content: center;
    background-color: rgb(173, 173, 173);
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: 100;
    height: 1.5rem;
    padding: 1rem;
    position: absolute;
    visibility: hidden;
    top: -40px;
    left: -54px;
    transition-duration: .5s;
    opacity: 0;
}

.dispositivo__titulo i:hover .tooltip{
    align-content: center;
    background-color: rgb(173, 173, 173);
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: 100;   
    height: 1.5rem;
    padding: 1rem;
    position: absolute;
    visibility: visible;
    top: -40px;
    left: -54px;
    transition-property: opacity;
    transition-duration: .5s;
    transition-delay: 1.5s;
    opacity: 80%;
}

.dispositivo__info{
    display: flex;
    justify-content: space-between;
    margin: .5rem .5rem;
    padding-right: 3rem;
    width: 50%;
}

