@import url("../../variaveis.css");

:root{
    --largura:auto;
    --altura: auto;
}



.modal{
    position: absolute;
    height:40vh;
    background-color: green;
    right: calc(50vw - var(--largura));;
    top: calc(50vh - var(--altura));
    width: 50vw;
    z-index: 1;
}