@import url("../codigo-fonte/variaveis.css");

html{
    scroll-behavior: smooth;
}

.menu{
    background-color: var(--fundo-principal);
    border-bottom: solid 1px grey;
    display: flex;
    height: 23vh;
    position: fixed;
    width: 100%;
}

.menu__logo{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15vw;
}

.menu__logo img{
    cursor: pointer;
    object-fit: cover;
    width: 9rem;
}

.menu__logo p{
    cursor: pointer;
    font-family: var(--fonte-logo);
    font-size: 1.7em;
    font-weight: 600;
}

.menu__nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 85vw;
}

.menu__ul{
    align-items: end;
    display: flex;
    height: 100%;
    justify-content: space-around;
    width: 70vw;
}

.menu__li{
    cursor: pointer;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-style: normal;
    margin-bottom: 3rem;
    transition-duration: .75s;
    transform: translateY(2px);
}

.menu__li:hover{
    transition-duration: .75s;
    transform: translateY(-2px);
    
}

.menu__login{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 65%;
    justify-content: space-around;
}

.login__li{
    align-content: center;
    background-color: var(--fundo-secundario);
    border-radius: 6em;
    cursor: pointer;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-style: normal;
    height: 1.5rem;
    padding: .4rem .3rem .4rem .3rem;
}

.texto__container p{
    margin: 2rem 2rem;
}

@media screen and (max-width: 720px){
    .menu{
        align-items: center;
        height: auto;
        flex-direction: column;
        position: relative;
    }

    .menu__nav{
        flex-direction: column;
    }

    .menu__ul{
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .menu__li{
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
    }

    .menu__login{
        margin-bottom: 2rem;
    }

    .login__li{
        margin: .5rem 0 0 0;
    }

    
}