@import url("variaveis.css");

.conteudo{
    display: flex;
    height: 79vh;
    padding-top: 21vh;
    padding-bottom: 21vh;
    width: 100%;
}


.conteudo__aside{
    display: flex;
    height: 100%;
    width: 50%;
    background-color: whitesmoke;
}
#inicio{
    background-color: whitesmoke;
}

.conteudo__aside__esquerdo{
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.aside__texto{
    display: flex;
    flex-direction: column;
    width: 78%;
}

.conteudo__aside__esquerdo h2{
    align-content: start;
    font-family: var(--subtitulo);
    font-size: 4rem;
    margin-bottom: 2rem;
    width: 75%;
}

.conteudo__aside__esquerdo h3{
    align-content: start;
    font-family: var(--titulo);
    font-size: 1rem;
    font-weight: 400;
    width: 85%;
}

.conteudo__aside__direito{
    align-items: center;
    justify-content: center;
}

.conteudo__aside img{
    
}
.texto__container{
    line-height: 24px;
    
}

@media screen and (max-width: 720px){
    .conteudo{
        flex-direction: column;
        height: auto;
        padding-top: 0rem;
        padding-bottom: 2rem;
    }

    .conteudo__aside{
        width: 100%;
    }

    .conteudo__aside__esquerdo{
        flex-direction: column ;
    }

    .aside__texto{
        width: 80%;
    }

    .aside__texto h2{
        font-size: 2rem;
        margin: 1rem 1rem;
    }

    .aside__texto h3{
        margin: 1rem 1rem;
    }

    .conteudo__aside__direito img{
        margin: 0;
    }
}


