@import url("variaveis.css");

.texto{
    align-items: center;
    border-top: solid 1px grey;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 21vh;
    margin-bottom: 21vh;
    width: 100%;
}

.texto h3{
    font-family: var(--fonte-principal);
    font-size: 2rem;
    margin: 2rem 2rem 2rem 2rem;
}

.texto div{
    border: solid 1px grey;
    border-radius: 2rem;
    padding: 2rem;
    width: 70%;
}

.texto p{
    font-family: var(--fonte-secundaria);
}

.texto__container p{
    margin: 2rem 2rem;
}

@media screen and (max-width: 720px){
    .texto{
        padding-top: 1rem;
        margin: 0;
    }

    .texto h3{
        margin-top: 0;
        margin-bottom: 1rem;
    }
}