
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

:root{
    /*cores*/
    --fundo-principal: white;
    --fundo-header: #565656;
    --fundo-secundario: #d9dadb;
    --fundo-terciario: #e7e2e2;

    --botao-apagar: #d02921;

    /*fontes*/

    --titulo: "Teachers", sans-serif;
    --subtitulo: "Nunito Sans", sans-serif;
    --paragrafo: "Open Sans", sans-serif;

    /*icones*/

    --icones-principais: rgb(87, 86, 86);
}