
.janela-modal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(#00000080);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.modal{
    width: 40%;
    min-width: 450px;
    min-height: 450px;
    background-color: #0a010128;
    backdrop-filter: blur(10px);
    text-align: center;
    border-radius: 22px;
    
}

.Email{
    margin: 10px;
}
.Senha{margin: 10px;
}

.Confirme-senha{
    margin: 10px;
}
input.Confirme{
    position: relative;
    left: 22px;    
    
}
button.cadastro{
    background-color: rgb(230, 203, 171);
    position: relative;
    left: 20px;
}
button.cadastro:hover{
    background: linear-gradient(to right,rgb(223, 190, 150),rgb(209, 170, 121));
}

.fechar{
    background-color: red;
    position: absolute;
    top: -1px;
    right: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0;
    color: aliceblue;
    cursor: pointer;
}
.fechar:hover{
    background: linear-gradient(to right, #9c0c02,#460d0d);
}
.janela-modal.abrir{
    display: flex;
}
