
@import url(../../variaveis.css);
body{
    background: white;
    color: #434343;
    margin: 0;
   
}

p{
    font-family: var(--paragrafo);
    font-size: small;
}

h3{
    font-family: var(--titulo);
    font-size: large;
}

header{
    width: 100%;
    height: 90px;
    background-color: var(--fundo-header);
    display:flex;
    padding: 10px 0px 0px 0px;
    justify-content: center;
    box-shadow: 0px 2px 0px black;
    align-items: center;
    flex-wrap: wrap;
}

.Logo{
    width: 40px;
    height: 40px;
    border-radius: 10px;

}

.logo img{
    width: 100px;
    height: 90px;
}


.cards{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(199, 199, 199);
    padding: 0px 0px 0px 0px;
    box-shadow: 20px 20px  50px -30px black;
    border-radius: 12px;
    margin-bottom: 32px;
    overflow: hidden;
   
    
}

#card2:hover{
height: 520px;
}
#card3:hover{
    height: 660px;
    }
#card1{
    height: 405px;
    width: 460px;
}
#card2{
    height: 405px;
    width: 450px;
    transition: 0.9s;
}
#card3{
    height: 405px;
    width: 450px;
    transition: 1.2s;
}


.icon{
    width: 64px;
    height: 64px;
    padding-top: 50px;
}

.card img{
    width: 100%;
}

.card h3{
    margin: 16px 0;
}

.card span {
    
}

.saiba{
    margin: 20px;
    padding: 0.3rem 0.7rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: none;
    outline: none;
    transition: 0.4s;
    cursor: pointer;
    font-size: 76%;
    font-weight: 455;
    background-color: #fff1ba;
}


.saiba:hover{
    background: linear-gradient(to right, #e6c619,#fff1ba);
}

details summary{
    background-color: rgb(128, 190, 219);
    padding: 2% 0% 0% 1%;
    border-bottom:2px solid black ;
    color: #020202;  
}

.paragrafo{
    display: flex;
    background-color: #d0d7de;
    padding-left: 1%;
    font-size: small;
    font-family: var(--paragrafo);
}
ol,ul{
    line-height: 25px;
    text-align: left;
    padding: 0px 0px 0px 0px;
}
.imagens{
    max-height: 26px;
    max-width: 26px;
    margin: 5px 5px 5px 5px;
}
