*{
    margin: 0;
    padding: 0;
    font-family: arial, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background: white;
    height: 100vh;
    width: 100%;
    color: #434343;
}
header{
    width: 100%;
    height: 70px;
    background-color: #fffafa;
    display:flex;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 0px 2px 0px #d0d7de;

    align-items: center;
    flex-wrap: wrap;
}
.menu{
    list-style: none;
    display: flex;
}

.menu li a{
    color:#020202;
    display: block;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-left: 10px;
}

.menu li a:hover{
    color:#fff;
    display: block;
    text-decoration: none;
    margin-left: 10px;
    background-color: #333;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #ccc;

}

.logo img{
    width: 50px;
    height: 40px;
}

.cards{
    display: flex;
    padding: 32px;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(199, 199, 199);
    padding: 1rem 1.5px;
    max-height: 400px;
    height: 355px;
    margin-left: 32px;
    box-shadow: 20px 20px  50px -30px black;
    border-radius: 12px;
}
.card:first-child{
    margin-left: 0%;
}
.icon{
width: 64px;
height: 64px
}
.card img{
    width: 100%;
}
.card h3{
    font-size: 100%;
    margin: 16px 0;
}
.card span {
    font-weight: 300;
    max-height: 240px;
    font-size: 85%;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 16px;
}
button{
    padding: 0.3rem 0.7rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: none;
    outline: none;
    transition: 0.4s;
    cursor: pointer;
    font-size: 76%;
    font-weight: 455;
    background-color: #fff1ba;
}
button:hover{
    background: linear-gradient(to right, #e6c619,#fff1ba);
}
 details summary{
    background-color: rgb(128, 190, 219);
    padding: 2%;
    border-bottom:2px solid black ;
    color: #020202;
    
}
section p{
    background-color: #b1b1b1;
    padding: 2%;

}
@media screen and (max-width: 720px){
    .cards {
        flex-direction: column;
    }
    .cards section.card{
        margin-left: 0;
        margin-bottom: 32px;
    }
    .cards section.card:last-child {
        margin-bottom: 0;
    }
}
footer{
    margin-top: 15px;
    width: 100%;
    height: 100px;
}