@import url(../../variaveis.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-color: var(--fundo-principal);
}

p{
    font-family: var(--paragrafo);
    font-size: small;
}

h2{
    font-family: var(--titulo);
    font-size: large;
}

header{
    width: 100%;
    height: 70px;
    background-color: var(--fundo-header);
    display:flex;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 0px 2px 0px #d0d7de;

    align-items: center;
    flex-wrap: wrap;
}

.menu{
    list-style: none;
    display: flex;
}

.menu li a{
    font-family: var(--subtitulo);
    color:#020202;
    display: block;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-left: 10px;
}

.menu li a:hover{
    color:#fff;
    display: block;
    text-decoration: none;
    margin-left: 10px;
    background-color: #333;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 10px;

}

.logo img{
    width: 50px;
    height: 40px;
}

.profile-picture{
    width: 40px;
    height: 40px;
    border-radius: 10px;

}

.container{
    border: 0px solid #fff;
    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    padding: 60px 20px 0px 20px;
    justify-content: center;
    grid-gap: 20px;
    grid-template-areas:
    "sidenav content"
    "none content"
    "none content"
}

.sidenav{
    width: 350px;
    height: 100%;
    padding: 0px 24px 0px 0px;
    background-color: white;
    border-radius: 0px;
    grid-area: sidenav;
}

.submenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: start;
    box-shadow: 0px 2px 0px #d0d7de;
}

.submenu li a{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font: arial black;
    font-family: var(--subtitulo);
    font-size: small;
    
}

.submenu li a:hover{
    background-color: #d0d7de;
    color: black;
    border-radius: 4px;
}

.icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;

}

.active{
    border-left: 4px solid black;
    border-radius: 4px;
    background-color: #d0d7de;
}

.content{
    max-width: 100%;
    min-width: 450px;
    height: 100%;
    padding: 0px 16px;
    background-color: white;
    border-radius: 20px;
    grid-area: content;
    grid-column: content;
    grid-row: content;

}

.titulo{
    width: 100%;
    padding-bottom: 10px;
    box-shadow: 0px 2px 0px #d0d7de;

}

dl dt{
    font-family: var(--paragrafo);
    font-size: small;
}

.form dt{
    background-color: none;
    margin: 10px 0px;
    
}

.textbox{
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    background-color: lightgray;
    border-radius: 15px;
    
}


@media (max-width: 740px){
    .container{
        grid-template-areas:
        "sidenav"
        "content"
        "content"
        "content"
        "content"
        "content"

    }
    .sidenav{
        width: 450px;
    }
    .submenu{
        text-align: center;
    }
}
